.grid {
    width: 100%;
  }
  
  .row {
    width: 100%;
    display: flex;
  }
  
  .col-1 {
    width: 8.33%;
  }
  
  .col-2 {
    width: 16.66%;
  }
  
  .col-3 {
    width: 25%;
  }
  
  .col-4 {
    width: 33.33%;
  }
  
  .col-5 {
    width: 41.66%;
  }
  
  .col-6 {
    width: 50%;
  }
  
  .col-7 {
    width: 58.33%;
  }
  
  .col-8 {
    width: 66.66%;
  }
  
  .col-9 {
    width: 75%;
  }
  
  .col-10 {
    width: 83.33%;
  }
  
  .col-11 {
    width: 91.66%;
  }
  
  .col-12 {
    width: 100%;
  }
  
  .header {
    width: 100%;
    background-color: #003a60;
    height: 100px;
  }
  
  .header h2 {
    line-height: 100px;
    color: #fff;
  }
  
  .button {
    background-color: #4caf50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  input {
    border: none;
    border-bottom: 1px solid grey;
    width: 80%;
    margin: 0% 10%;
    padding: 5%;
  }
  
  .result {
    background-color: #ddffff;
    width: 80%;
    margin: 20px 10px 10px 10px;
    height: 100px;
    border-left: 3px solid #2196f3;
  }
  
  .result span {
    line-height: 100px;
  }
  